/mastermindsdl
/mastermindcli
/mastermind
/mastermind.pot
/intl
/build
/config.h
*.gmo

# swaps
.*.swp*
*~

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
MasterMind*.deb
MasterMind*.rpm
MasterMind*.tar.gz
MasterMind*.tar.Z
MasterMind*.tar.xz
MasterMind*.tar.bz2
MasterMind*.zip
MasterMind*.7z
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

!/win32/**
!/msvc/**
!/mingw/**
